importFrom(Matrix,
      "t",
      "crossprod",
      "tcrossprod",
      "colMeans"
)

importFrom(stats,
      "extractAIC",
      "coef"
)

importFrom(lme4,
      "fixef",
      "ranef"
)
      

importMethodsFrom(Matrix, "%*%")


exportClasses(
              "balance",
              "bayesglm",
              #"bayesglm.h",
              "bayespolr",
              "sim",
              "sim.mer"
              )

exportMethods(
              "coef",
              "coefplot",
              "display",
              "fixef",
              #"mcsamp",
              #"model.matrix.bayes",
              "se.coef",
              "sim",
              "sigma.hat",
              "print",
              "ranef",
              "show",
              "standardize",
              "traceplot"
              )

export(
#       "extractAIC",
       "extractDIC",
       "balance",
       "bayesglm",
       "bayesglm.fit",
       "bayespolr",
       "binnedplot",
       "binned.resids",
       "coefplot",
       "coefplot.default",
       "contr.bayes.ordered",
       "contr.bayes.unordered",
       "corrplot",
       "display", 
       "discrete.histogram", 
       "fround",
       "G",
       "go",
       "invlogit",
#       "logit",
       "matching", 
       "model.matrix.bayes",
       "multicomp.plot",
       "mcplot",
       "pfround",
       "rescale",
       "residual.plot",
       "se.coef",
       "se.fixef",
       "se.ranef",
       "sigma.hat",
       "sim",
       "triangleplot"
)


S3method(extractDIC, mer)
S3method(extractAIC, mer)
S3method(print, GO)
S3method(plot, balance)
S3method(print, balance)
